.header{
    @include flexible(flex,space-between);
}

.header404 {
    background-color: rgba(33, 34, 33, 0);
    display: flex;
    justify-content: space-between;
}  

/*.header{
    display: flex;
    justify-content: space-between;  
    background-color:rgba(33, 34, 33, 0.39);

}*/