.main{
    /*background-color: rgb(196, 34, 34);*/
    font-size: 20px;
    color: map-get($estilos, colorLetra);
    text-align: center;
}

.mainGaleria{
width: 100%;
color: map-get($estilos, colorLetra);
grid-area: main;
text-align: center;
margin-bottom: 10vh;
}
.mainContacto{
    /*background-color: rgb(196, 34, 34);*/
    font-size: 20px;
    color: map-get($estilos, colorLetra);
    text-align: center;
    margin-bottom: 10vh;
}

.main404{
    margin-bottom: 10vh;
    text-align: center;
}

