.fondo{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.642),rgba(0, 0, 0, 0.642)),  url("../assets/img/IMG-20190706-WA0064.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.fondoContacto{
        background:linear-gradient(to right,rgba(0, 0, 0, 0.642),rgba(0, 0, 0, 0.642)),  url("../assets/img/messi\ fms.jpg");
        object-fit: cover;     
        background-repeat: no-repeat;
        background-position:top;
        background-size: 150vh;
    }

.contenedorTitulo{
    color: black;
    background-color: map-get($estilos, colorLetra);
}

.titulosContacto{
    color: map-get($estilos, colorLetra);
}

.carousel{
    width: 80vh;
}

.containerHistoria{
    text-align: start;
    display: flex;
    margin: 50px;
    }
    
.logos{
    margin: 10px;
    }

    .aside{
        background-color: rgb(216, 167, 34);
    }